@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,700|Raleway:200,400,700");
.menuBtn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  padding: 1rem;
  z-index: 2;
  transition: all 0.5s ease-out; }
  .menuBtn:hover {
    transform: rotate(360deg); }
  .menuBtn .lines {
    background-color: lightblue;
    height: 4px;
    width: 2rem;
    margin-bottom: 4px;
    border-radius: 10px;
    transition: all 0.5s ease-out; }
  .menuBtn.show > .lines:nth-child(1) {
    transform: translate(0, 7px) rotate(225deg);
    background-color: lightgreen; }
  .menuBtn.show > .lines:nth-child(2) {
    opacity: 0; }
  .menuBtn.show > .lines:nth-child(3) {
    transform: translate(0, -9px) rotate(-225deg);
    background-color: lightgreen; }

.menu {
  clip-path: polygon(25% 0%, 100% 0, 100% 100%, 25% 100%, 0% 50%);
  background-color: rgba(17, 17, 17, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  transform: translate3d(100%, 0, 0);
  transition: all 0.5s ease-out; }
  .menu.show {
    transform: translate3d(0, 0, 0); }
  .menu ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .menu ul li {
      margin: 5px;
      padding: 3rem;
      transform: translate3d(250%, 0, 0);
      transition: all 0.5s ease-out; }
      .menu ul li.show {
        transform: translate3d(0, 0, 0); }
      .menu ul li .current > a {
        color: #5e5e5e; }
      .menu ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 3rem;
        font-weight: 200; }
        .menu ul li a:hover {
          color: #5fb3ce;
          transition: all 0.5s ease-out; }

.listItems:nth-child(1) {
  transition-delay: 0.15s; }

.listItems:nth-child(2) {
  transition-delay: 0.3s; }

.listItems:nth-child(3) {
  transition-delay: 0.45s; }

.listItems:nth-child(4) {
  transition-delay: 0.6s; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: #fff; }

html {
  height: 100%;
  width: 100%; }

body {
  background: url(../img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  font-family: "Raleway";
  overflow-x: hidden; }
  body:after {
    content: "";
    background-color: #444;
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6; }
  body * {
    opacity: 0; }
  body.fade * {
    opacity: 1;
    transition: all 0.5s ease-out; }
  body.home {
    overflow: hidden; }
  body .logo {
    position: absolute;
    top: 0;
    left: 0; }
    body .logo img {
      width: 8rem;
      height: 8rem; }

main {
  min-height: calc(100vh - 2rem);
  width: 100%; }
  main.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: flex-start; }
  main.page {
    margin: auto;
    text-align: start;
    width: 85%; }
    main.page .resumeDl {
      font-size: 4rem;
      margin-left: 3rem;
      display: inline-block; }
      main.page .resumeDl span:hover {
        color: lightblue; }
  main h1 {
    font-size: 6rem;
    font-weight: 200;
    text-align: left;
    padding: 5rem 0 0 0; }
    main h1 span {
      color: lightblue;
      text-decoration: underline; }
      main h1 span.markup {
        color: lightgreen; }
    main h1.title {
      font-size: 12rem;
      margin: 3rem 0;
      padding: 0 4rem;
      color: lightblue; }
    main h1.resumeTitle {
      display: inline-block; }
  main h2 {
    font-size: 3rem;
    font-weight: 500; }
    main h2.name {
      text-transform: uppercase;
      font-family: "Montserrat";
      font-size: 6rem;
      font-weight: 600;
      margin: 3rem 0 0 0;
      padding: 0 4rem;
      transition: all 0.5s ease-out;
      transform: translate3d(-100%, 0, 0); }
      main h2.name span {
        color: lightblue;
        text-decoration: underline;
        font-weight: 600; }
    main h2.load {
      transform: translate3d(0, 0, 0); }
    main h2.subTitle {
      color: lightblue;
      display: flex;
      min-height: 50vh;
      justify-content: center;
      align-items: center; }
  main h3 {
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 2.5rem;
    font-weight: 600; }
    main h3.role {
      margin: 1rem 0 1rem 0;
      padding: 0 4rem;
      transition: all 0.5s ease-out;
      transform: translate3d(-100%, 0, 0); }
      main h3.role span {
        color: lightblue;
        text-decoration: underline;
        font-weight: 600; }
    main h3.load {
      transform: translate3d(0, 0, 0); }
  main .icons {
    font-size: 3rem;
    padding: 0 4rem;
    transition: all 0.5s ease-out;
    transform: translate3d(-100%, 0, 0);
    cursor: pointer; }
    main .icons div {
      display: inline-block; }
      main .icons div span:hover {
        color: #86c5da;
        transition: all 0.5s ease-out;
        transform: scale(1.2); }
    main .icons.load {
      transform: translate3d(0, 0, 0); }
  main .contactInfo {
    background-color: rgba(68, 68, 68, 0.4);
    margin-top: 1rem;
    padding: 1rem 3rem;
    transform: translate3d(-100%, 0, 0);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 1.2rem;
    transition: all 0.5s ease-out; }
    main .contactInfo.show {
      transform: translate3d(0, 0, 0); }

.index > :nth-child(2) {
  transition-delay: 0.4s; }

.index > :nth-child(3) {
  transition-delay: 0.6s; }

.index > :nth-child(4) {
  transition-delay: 0.8s; }

.projectContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding-top: 5rem; }
  .projectContainer .projectItems {
    display: inline-block; }
    .projectContainer .projectItems img {
      width: 100%;
      border: 4px #fff solid;
      transition: all 0.5s ease-out; }
      .projectContainer .projectItems img:hover {
        border: 3px #86c5da solid;
        opacity: 0.9; }
    .projectContainer .projectItems .projectInfo {
      background-color: #444;
      transition: all 0.5s ease-out;
      height: 2rem;
      text-align: start;
      padding: 7px;
      cursor: pointer; }
      .projectContainer .projectItems .projectInfo a {
        color: #fff;
        text-decoration: none; }
      .projectContainer .projectItems .projectInfo span {
        color: #fff; }
      .projectContainer .projectItems .projectInfo:hover {
        background-color: #86c5da; }
        .projectContainer .projectItems .projectInfo:hover a {
          color: #000; }
        .projectContainer .projectItems .projectInfo:hover span {
          color: #000; }

.resumeCon {
  display: grid;
  grid-template-areas: "info info info" "education experience courses" "techSkills techSkills techSkills";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr 1fr;
  grid-gap: 3rem; }
  .resumeCon .info,
  .resumeCon .education,
  .resumeCon .experience,
  .resumeCon .courses,
  .resumeCon .techSkills {
    background-color: rgba(119, 119, 119, 0.3);
    text-align: justify;
    font-weight: 400;
    padding: 2rem;
    box-shadow: 0 10px 6px -6px #777;
    transition: all 0.5s ease-out; }
    .resumeCon .info:hover,
    .resumeCon .education:hover,
    .resumeCon .experience:hover,
    .resumeCon .courses:hover,
    .resumeCon .techSkills:hover {
      background-color: rgba(68, 68, 68, 0.7);
      transform: scale(1.05);
      color: #fff; }
      .resumeCon .info:hover h3,
      .resumeCon .education:hover h3,
      .resumeCon .experience:hover h3,
      .resumeCon .courses:hover h3,
      .resumeCon .techSkills:hover h3 {
        color: lightblue; }
      .resumeCon .info:hover div h4,
      .resumeCon .info:hover div h5,
      .resumeCon .education:hover div h4,
      .resumeCon .education:hover div h5,
      .resumeCon .experience:hover div h4,
      .resumeCon .experience:hover div h5,
      .resumeCon .courses:hover div h4,
      .resumeCon .courses:hover div h5,
      .resumeCon .techSkills:hover div h4,
      .resumeCon .techSkills:hover div h5 {
        color: #d4ebf2; }
    .resumeCon .info h3,
    .resumeCon .education h3,
    .resumeCon .experience h3,
    .resumeCon .courses h3,
    .resumeCon .techSkills h3 {
      color: #c1e1ec; }
    .resumeCon .info div,
    .resumeCon .education div,
    .resumeCon .experience div,
    .resumeCon .courses div,
    .resumeCon .techSkills div {
      margin-bottom: 1rem; }
      .resumeCon .info div h4,
      .resumeCon .education div h4,
      .resumeCon .experience div h4,
      .resumeCon .courses div h4,
      .resumeCon .techSkills div h4 {
        font-size: 1.4rem;
        color: #bababa; }
      .resumeCon .info div h5,
      .resumeCon .education div h5,
      .resumeCon .experience div h5,
      .resumeCon .courses div h5,
      .resumeCon .techSkills div h5 {
        font-size: 1.25rem;
        margin: 0.2rem 0 0 0.5rem; }
      .resumeCon .info div ul,
      .resumeCon .education div ul,
      .resumeCon .experience div ul,
      .resumeCon .courses div ul,
      .resumeCon .techSkills div ul {
        list-style-type: none;
        margin-left: 0.5rem; }
        .resumeCon .info div ul li,
        .resumeCon .education div ul li,
        .resumeCon .experience div ul li,
        .resumeCon .courses div ul li,
        .resumeCon .techSkills div ul li {
          font-size: 1.1rem; }
  .resumeCon .info {
    grid-area: info;
    font-size: 1.5rem; }
    .resumeCon .info span {
      color: lightblue;
      text-decoration: underline; }
      .resumeCon .info span:hover {
        color: white; }
  .resumeCon .education {
    grid-area: education; }
  .resumeCon .experience {
    grid-area: experience; }
  .resumeCon .courses {
    grid-area: courses; }
  .resumeCon .techSkills {
    grid-area: techSkills;
    font-size: 2rem;
    margin-bottom: 2rem; }
    .resumeCon .techSkills div {
      padding: 1rem;
      font-size: 3rem; }
      .resumeCon .techSkills div span {
        transition: all 0.5s ease-out; }
        .resumeCon .techSkills div span:hover {
          transform: scale(1.3); }

.fa-html5 {
  color: #e34f26; }

.fa-css3-alt {
  color: #264de4; }

.fa-sass {
  color: #cd6799; }

.fa-js {
  color: #f7df1e; }

.fa-python {
  color: #4584b6; }

.fa-file-excel {
  color: #7cbb00; }

.fa-file-word {
  color: #00a1f1; }

.fa-file-powerpoint {
  color: #f65314; }

#main-footer {
  background-color: rgba(68, 68, 68, 0.8);
  text-align: center;
  height: 2rem;
  padding-top: 0.5rem;
  opacity: 1; }

@media screen and (max-width: 870px) {
  body {
    position: fixed; }
    body .scroll {
      overflow-y: scroll;
      height: 100%; }
    body .logo > img {
      height: 4rem;
      width: 4rem; }
    body header #menuBtn {
      right: 1.5rem;
      top: 0.5rem; }
    body header #menu {
      z-index: 1;
      width: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      background-color: rgba(81, 81, 81, 0.95); }
      body header #menu ul li {
        padding: 1rem; }
        body header #menu ul li .current > a {
          color: lightblue; }
        body header #menu ul li div a {
          font-size: 2rem; }
    body main.index {
      align-items: center; }
    body main.page {
      width: 90%; }
      body main.page .resumeDl {
        font-size: 2rem;
        margin-left: 1rem; }
        body main.page .resumeDl span {
          color: lightblue; }
    body main h1 {
      font-size: 2.5rem;
      text-align: center; }
      body main h1.title {
        font-size: 2.5rem;
        margin: 0;
        padding: 0;
        margin-bottom: 3rem; }
    body main h2.name {
      margin: 0;
      padding: 0;
      margin-top: 4rem;
      font-size: 2rem; }
    body main h2.subTitle {
      font-size: 2rem; }
    body main h3.role {
      margin: 0;
      padding: 0;
      margin: 1rem 0;
      text-align: center;
      font-size: 1.2rem; }
    body main div.icons {
      font-size: 1.5rem; }
    body main .contactInfo {
      transform: translate3d(-200%, 0, 0);
      padding: 1rem 1rem 1rem 1.2rem;
      font-size: 0.7rem; }
      body main .contactInfo.show {
        transform: translate3d(-55%, 0, 0); }
  .projectContainer {
    grid-template-columns: 1fr;
    padding-top: 2rem; }
    .projectContainer .projectItems img {
      border: 4px solid lightblue; }
    .projectContainer .projectItems .projectInfo {
      text-align: center; }
  .resumeCon {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "info" "education" "experience" "courses" "techSkills";
    padding-top: 2rem;
    grid-gap: 2rem; }
    .resumeCon .info,
    .resumeCon .education,
    .resumeCon .experience,
    .resumeCon .courses,
    .resumeCon .techSkills {
      padding: 0.5rem;
      font-size: 1rem;
      line-height: 1.5rem; }
      .resumeCon .info h3,
      .resumeCon .education h3,
      .resumeCon .experience h3,
      .resumeCon .courses h3,
      .resumeCon .techSkills h3 {
        font-size: 1.4rem;
        text-align: center; }
      .resumeCon .info div h4,
      .resumeCon .education div h4,
      .resumeCon .experience div h4,
      .resumeCon .courses div h4,
      .resumeCon .techSkills div h4 {
        font-size: 1.2rem; }
      .resumeCon .info div h5,
      .resumeCon .education div h5,
      .resumeCon .experience div h5,
      .resumeCon .courses div h5,
      .resumeCon .techSkills div h5 {
        font-size: 1.1rem; }
      .resumeCon .info div ul > li,
      .resumeCon .education div ul > li,
      .resumeCon .experience div ul > li,
      .resumeCon .courses div ul > li,
      .resumeCon .techSkills div ul > li {
        font-size: 1rem;
        line-height: 1.5rem; }
      .resumeCon .info .techIcon,
      .resumeCon .education .techIcon,
      .resumeCon .experience .techIcon,
      .resumeCon .courses .techIcon,
      .resumeCon .techSkills .techIcon {
        text-align: center; }
        .resumeCon .info .techIcon span,
        .resumeCon .education .techIcon span,
        .resumeCon .experience .techIcon span,
        .resumeCon .courses .techIcon span,
        .resumeCon .techSkills .techIcon span {
          font-size: 1.9rem; } }

@media screen and (min-width: 481px) and (max-width: 870px) {
  body header > #menu > ul > li > div > a {
    font-size: 3.5rem; }
  body main.page > .resumeDl span {
    font-size: 3.5rem;
    margin-left: 2.5rem; }
  body main h1.title {
    font-size: 5rem; }
  body main h1.projectTitle {
    font-size: 5rem; }
  body main h1.resumeTitle {
    font-size: 5rem; }
  body main h2.name {
    font-size: 3.5rem; }
  body main h2.subTitle {
    font-size: 2.6rem; }
  body main h3.role {
    font-size: 1.5rem; }
  body main div.icons {
    font-size: 2.5rem; }
  body main .contactInfo {
    transform: translate3d(-300%, 0, 0);
    padding: 1rem 1rem 1rem 1.2rem;
    font-size: 0.9rem;
    border-radius: 50px;
    text-align: center; }
    body main .contactInfo.show {
      transform: translate3d(0, 0, 0); }
  body main .projectInfo {
    margin-top: -0.17rem; }
  .resumeCon .info,
  .resumeCon .education,
  .resumeCon .experience,
  .resumeCon .courses,
  .resumeCon .techSkills {
    padding: 1rem; }
    .resumeCon .info h3,
    .resumeCon .education h3,
    .resumeCon .experience h3,
    .resumeCon .courses h3,
    .resumeCon .techSkills h3 {
      font-size: 1.8rem;
      margin-bottom: 0.5rem; }
    .resumeCon .info .techIcon span,
    .resumeCon .education .techIcon span,
    .resumeCon .experience .techIcon span,
    .resumeCon .courses .techIcon span,
    .resumeCon .techSkills .techIcon span {
      font-size: 2.3rem; } }

@media screen and (min-width: 871px) and (max-width: 2000px) {
  body {
    position: fixed; }
    body .scroll {
      overflow-y: scroll;
      height: 100%; }
    body .logo {
      position: relative; }
    body header > #menu {
      width: 40%;
      z-index: 1; }
      body header > #menu ul > li > div > a {
        font-size: 2.5rem; }
    body main.page {
      width: 85%; }
      body main.page .resumeDl span {
        font-size: 4.5rem;
        margin-left: 2.5rem;
        color: lightblue; }
    body main h1.title {
      font-size: 6.5rem; }
    body main h1.projectTitle {
      padding: 0;
      font-size: 6.5rem; }
    body main h1.resumeTitle {
      font-size: 6.5rem;
      padding: 0; }
    body main h2.name {
      font-size: 4.5rem; }
    body main h2.subTitle {
      font-size: 3.5rem; }
    body main h3.role {
      font-size: 2rem; }
    body main div.icons {
      font-size: 3rem; }
  .projectContainer {
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem; }
    .projectContainer .projectItems img {
      border: 4px solid lightblue; }
    .projectContainer .projectItems .projectInfo {
      text-align: center; }
  .resumeCon {
    grid-template-columns: 1fr;
    grid-template-areas: "info" "education" "experience" "courses" "techSkills";
    grid-template-rows: 1fr;
    margin: auto;
    padding-top: 2rem;
    grid-gap: 1rem; } }
