@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,700|Raleway:200,400,700");

$primary-color: #fff;
$secondary-color: #444;
$accent-color: lightblue;
$contrast-color: lightgreen;
$home-image: url(../img/background.jpg);
$background-opacity: 0.6;

@mixin background {
  background: $home-image;
  background-size: cover;
  background-attachment: fixed;

  &:after {
    content: "";
    background-color: $secondary-color;
    // background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: $background-opacity;
  }
}

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin fullScreen {
  height: 100vh;
  width: 100vw;
}

@mixin flexColCtr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

//Reset margin, padding for responsive
@mixin reset {
  margin: 0;
  padding: 0;
}

//Set text color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return $primary-color;
  }
}

//Responsive mixin

@mixin sm {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: 481px) and (max-width: 768px) {
    @content;
  }
}
@mixin lg {
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}
@mixin xl {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
